.next_level_price {
  color:red;
}
.current_price {
  font-family: GothamMedium;
  font-size: inherit;
  margin-bottom: 10px;
}
.more_price_btn {

}
.old_price {
  color: #9B9B9B;
  text-decoration: line-through;
  margin-right: 5px;
}

.price-help-icon {
  padding-left: 5px;
}
