@-webkit-keyframes spin {
  	0%{
  		-webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    } 100% {
  		-webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes spin {
  0%{
  		-webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  } 100% {
  		-webkit-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.spin{
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
  display: inline-block;
  line-height: 100%;
  /*font-size: 0.95em;*/
  font-size: 0em;
}
