.wrapper {
  margin: 0 15px;
}

.clear {
  position: absolute;
  right: 15px;
  color: #ADA082;
  line-height: 36px;
}

h3.title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 0.8px;
}

.wrapper > li {
  list-style: none;
  padding: 5px 10px;
  line-height: 36px;
}
