.FieldFormControl {
  margin-bottom: 5px;
  /*display: flex;*/
}

.FieldFormControl > :global(input.form-control){
  border-radius: 0;
  border: 1px solid #e0e0e0;
  box-shadow: none;
}

.FieldFormControlSelect {
  display: flex;
}

.FieldFormControl > :global(select.form-control){
  border-radius: 0;
  border: 1px solid #e0e0e0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: -35px;
}

.FieldFormControl > :global(select.form-control) + .select-arrow-icon{
  pointer-events: none;
  align-items: flex-end;
  width: 25px;
  margin: auto;
  padding-top: 5px;
  background: #fff;
  margin-right: 10px;
  text-align: center;
  opacity: 0.9;
}

.FieldFormControl .error-msg {
  color: #FF0000;
}
