.radio-box{
	position: relative;
	margin-top: 10px;
}

.radio-box label {
	margin-bottom: 0;
}

.radio-box > label {
  padding-left: 20px!important;
  cursor: pointer;
}
.radio-box input {
  display: none;
}
.radio-box > label > span{
	display: block;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	-webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  transition-duration: .3s;
}
.radio-box .outer{
	position: absolute;
	left: 0;
	width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin: 0 15px 0 0;
  border: 1px solid #b1b1b1;
  border-radius: 50%;
  background-color: #fff;
}
.radio-box .inner{
	background-color: #000000 !important;
	-webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 8px;
  height: 8px;
  display: block;
  margin: 2px;
  border-radius: 50%;
  border: 0 none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0;
}
.radio-box input:checked+.outer{
	border: 1px solid #000000 !important;
}
.radio-box input:checked+.outer .inner{
	-webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.radio-box:hover .inner{
	-webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: .5;
}
/* title */
.radio-box .title {
	vertical-align: top;
	line-height: normal;
	pointer-events: none;
}
