.w100{
  width: calc(100% - 49px) !important;
}
.search-input{
  -webkit-transition: 275ms ease;
  transition: 275ms ease;
  outline: none;
  padding: 5px 2px 2px 2px;
  border-radius: 1px;
  font-size: 16px;
  -moz-appearance:none !important;
  -webkit-appearance:none !important;
  vertical-align: middle;
  text-align: left !important;
  line-height: normal;
}

input.search-input {
  font-family: GothamBook;
}

.search-input-open {
  width: 160px;
  height: 44px;
  border: 1px solid #e0e0e0;
  padding: 0 40px 0 10px;
  -moz-appearance:none !important;
  -webkit-appearance:none !important;
  text-align: left !important;
  vertical-align: middle;
}

.search-input-open:focus {
  border-color: #000;
  text-align: left !important;
}

@media screen and (max-width: 767px) {
  .search-input-open ~ i.clearInput {
    display: inline-block;
    width: 20px;
    margin-left: -30px;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
    color: #C1B497;
  }

  .search-input-open ~ i.search-icon {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-color: #C1B497;
    font-size: 24px;
    vertical-align: top;
    color: #fff;
    line-height: 44px;
    text-align: center;
    margin-left:5px;
  }
}


.search-input-close{
  border: none;
  border: 1px solid transparent;
  width: 0;
}


@media screen and (min-width: 768px) {
  .search-input-open {
    height: initial;
    vertical-align: text-top;
    padding-right: 10px;
  }
  .search-input-open ~ i.clearInput {
    display: none;
  }
  .search-input-open ~ i.search-icon {
    margin-left: -25px;
    vertical-align: middle;
    height: 24px;
  }
}
