.reset-page {
  margin-top: 30px;
}

.reset-modal :global(.link-wrapper) {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: initial;
}

.reset-modal :global(.modal-content) {
  border-radius: 0;
}

.reset-title {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-bottom: 30px;
  margin-top: 20px;
}

.reset-form {
  width: 80%;
  margin: auto;
  max-width: 420px;
}


.reset-form  :global(.row) {
  margin-top: 20px;
}

.reset-form input {
  border-radius: 0;
}

.ebe-form-control {
  border-radius: 0;
  padding: 0 20px;
}

.reset-btn {
  width: 100px;
  height: 2em;
  background: black;
  border: 1px solid #333;
  text-align: center;
  margin-top: 20px;
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
}

.reset-btn:active{
  outline: none;
  background: #ADA082;
  border: none;
}


.reset-err {
  margin-top: 30px;
  color: red;
}

.methodLabel{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.methodContent{
  margin-top:10px;
  letter-spacing: .05em;
}
