.wrapper{
  margin-top: 50px;
  width:345px;
  padding:0;
  text-align: center;
  display: inline-block;
  max-width: 92%;
}

.body{
  text-align: center;
}
.title{
  font-size: 24px;
}
.panel{
  padding:20px 10px;
  margin: 35px 0 0 0;
  background: #f4f4f4;
  text-align: center;
}
.profileWrapper{
  font-size: 80px;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #fff;
  color:#E0E0E0;
}
.text{
  margin: 25px 15px;
  font-size: 14px;
}

.input{
  margin:10px 0;
  width: 100%;
  padding:15px 20px;
}

.input:focus{
  outline: none;
}

.submit{
  margin:10px 0;
  width: 100%;
  padding:15px 20px;
  background-color: #000;
  color: #FFF;
  border: none;
}
.submit:hover{
  background-color: #333;
}
.submit[disabled]{
  background-color: #aaa;
  cursor: not-allowed;
}
.submit:focus{
  outline: none;
}
.error{
  color: #FC2674;
  text-align: left;
  font-size: 11px;
}
.success{
  color: #89A246;
}

.email_to_change label{
  margin-left:-33px;
  width: 100%;
}

.phoneCode{
  margin-top:15px;
}

.phoneCode span{
  margin-left:-110px;
  font-family: GothamBook;
}

.sendPhoneCode{
  color:black;
  font-size: 12px;
  text-decoration: underline;
  font-family: GothamBook;
  text-align: right;
  cursor: pointer;
}
